---
layout: single
author_profile: true
---

{% include base_path %}

<h2 id="about">About</h2>
<div><p>
    Hello! I'm a fourth-year PhD student at Caltech working with <a href="http://users.cms.caltech.edu/~klbouman/" target="_blank">Prof. Katie Bouman</a>
    in the <a href="http://www.cms.caltech.edu/" target="_blank">Computing & Mathematical Sciences</a> Department.
    Previously, I graduated from Princeton University <em>summa cum laude</em>, with a major in Computer Science and minor in Statistics & Machine Learning. 
    I'm interested in computational imaging, in particular incorporating sophisticated priors into ill-posed inverse problems.
</p></div>


<h2>News</h2>
<!-- <div id="news">
  {% for item in site.data.news.main %}
  <p>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div> -->
<div id="news">
  {% for item in site.data.news.main %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div>

<h2 style="clear: both;" id="publications">Publications</h2>
{% for publication in site.data.publications.all %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>


