---
layout: single
author_profile: true
---

{% include base_path %}

<h2 id="about">About</h2>
<div><p>
    Hello! I'm a Senior Camera Engineer at <b>HP Inc</b>'s Video Engineering team.
    Before joining HP Inc, I was a Researcher at <b>Hitachi America R&D</b>, where i worked on 2D and 3D perception for various AD/ADAS applications.
    And I completed my master's degree at San Jose State University, specializing in Electrical Engineering.
    </br>
    My current interest lies in computer vision challenges involving 3D Perception, scene understanding and multimodal sensor fusion and image stitching.
</p></div>


<h2>News</h2>
<!-- <div id="news">
  {% for item in site.data.news.main %}
  <p>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div> -->
<div id="news">
  {% for item in site.data.news.main %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div>
<h2 style="clear: both;" id="publications">Publications</h2>
{% for publication in site.data.publications.all %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>

<h2>News</h2>
<div id="patents">
  {% for item in site.data.patents.main %}
  <p><strong><font class="new">{{ item.name | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
</div>


